<!DOCTYPE html>
<!--Esto es una pagina simple que nos muestra como se debe de trabajar para obtener los datos enviados desde el controlador
 para asi mostrarlos aqui en la vista en el tag de html se especifica que estaremos trabajando esta plantilla con thymeleaf-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}">No debe presentarse</title>
</head>
<body>
<h1 th:text="${mensaje}">Desde el Framework lo cambio</h1>
<p th:text="'El Estudiante matricula: '+${matricula}">...</p>
</body>
</html>